body{
  background-color: whitesmoke;
}
.nav{
  background-color: whitesmoke;
  margin: 10px;
  padding: 20px;
}

.navmenu{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  font-family: "bilo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

a{
  text-decoration: none;
  padding: 10px;

}
button{
  cursor: pointer;
}
@media only screen and (max-width: 650px){
  .navmenu{
      font-size: 0.5em;
      padding: 0;
  }
}
  
  
  .sos ul {
    display: flex;
    color: rgb(255, 255, 255);
}
.sos ul li{
 margin: 5px;
 list-style: none;
}

.sos ul li img{
    color: skyblue;
    font-size: 15px;
    max-width: 100%;
    height: 20px;
}

.ct{
  display: flex;
}

.ab{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px,10px;
}


